<div class="card shadow" style="width: 30em; margin: 0 auto;">
    <div class="card-body">
        <i class="fab fa-node-js fa-6x text-center w-100"></i>
        <p class="text-center pt-3">Create an account or login</p>
        <a href="/register" class="w-100 bg-red">Register</a>
        <a href="/login" class="w-100 bg-gray">Login</a>
    </div>
</div>