*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    padding-top: 3em;
}

i
{
    width: 300px;
}

.bg-red
{
    background-color: rgb(243, 117, 0);
    display: block;
    margin-bottom: 0.75em;
    padding: 0.3em;
    text-align: center;
    color: white;
    border-radius: 3px;
}

.bg-gray
{
    background-color: gray;
    display: block;
    padding: 0.3em;
    text-align: center;
    color: white;
    border-radius: 3px;
}

.bg-red:hover,.bg-gray:hover
{
    text-decoration: none;
    color: white;
}